header {
    background-image: "https://user-images.githubusercontent.com/38575274/47954007-535f2e00-dfc8-11e8-8991-fd039d90cd95.png";
}

.nav-bar {
    background-color: #bdb3ee;
    color: #000000;
} 

.bar-item {
    background-color: #bdb3ee;
    border-right: 1px solid #ffffff;
}

.bar-item :hover {
    background-color: #e592c9;
    color: #e7af1c;
}

