<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/views/public/css/site.css">
    <title>とうへい中国武術会</title>
    <style>
        header {
            background-image: "https://user-images.githubusercontent.com/38575274/47954007-535f2e00-dfc8-11e8-8991-fd039d90cd95.png";
        }

        .nav-bar {
            background-color: #bdb3ee;
            color: #000000;
        }

        .bar-item {
            background-color: inherit;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
        }

        .bar-item:hover {
            background-color: #ce60a8;
            color: #e7af1c;
        }
    </style>
</head>