<html>
    
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="/static/public/css/site.css">
        <title>Digger</title>

    </head>
    <body>
        <header>
            <left class="header-logo">
                <h1><%= title %></h1>
            </left>
            <rigth class="header-index">
                <a href= <%= URL %> </a> >TOP</a>
            </rigth> 
        </header>
    </body>
</html>
