<html>
    
    <%- include("../_partial/head.ejs") %>
    <body>
        <%- include("../_partial/header.ejs") %> 
        <%- include("../_partial/nav.ejs") %> 
        <left class="header-logo">
            <h1><%= title %></h1>
        </left>
        
    </body>
</html>
