---
layout: default
---

<section class="pageTitleWrapper">
  <p class="pageTitle">{{ page.title }}</p>
</section>

<section class="profile">
  <div class="cards-container">
    
    <div class="card card-one">
      <header>
        <div class="avatar">
          <img src="/assets/img/profile.jpeg" alt="akari" />
        </div>
      </header>

      <h3>Akari Haga</h3>
      <div class="desc">
        Hello, my name is Akari. I am interested in natural language processing (mainly story generation), and I am currently researching dialogue systems.
      </div>
      <footer>
        <a href="https://twitter.com/_akari000"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/Akari000"><i class="fa fa-github"></i></a>
      </footer>
    </div>
  </div>
</section>

<section class="postContent">
  {{content}}
</section>