<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{page.title}} - @akari000</title>
    <link rel="stylesheet" href="https://akari000.github.io/assets/css/main.scss">
    <link rel="stylesheet" href="https://akari000.github.io/assets/css/about.scss">
  </head>

  <body>
    <main>
      <header>
        <!-- <div class="logoWrapper">
          <a href="/">
            <img class="logo" src="/assets/logo.svg" alt="" />
          </a>
        </div> -->
        <nav>
          <div class="links">
            <a class="linkItem" href="/">posts</a>
            <a class="linkItem" href="/about">about</a>
            <a class="linkItem" href="/posts">posts</a>
            <a class="linkItem" href="/blog">blog</a>
            <a class="linkItem" href="/reading">reading</a>
            <a class="linkItem" href="https://github.com/akari000">github</a>
          </div>
        </nav>
      </header>
      <section class="content">
        {{ content }}
      </section>
    </main>
  </body>
</html>